@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

main {
    width: 90%;
    height: 100vh;
    position: absolute;

}

nav {
    width: 100%;
    padding: 1rem 5%;
    background: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    /*Opacidade*/
    margin-bottom: 2rem;
    position: fixed;


    /*Posicionamento dos elementos*/

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ff1493;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-links li a {
    position: relative;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
    color: #0f172a;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #ff1493;
    text-shadow: 0 0 8px #ff1493;
}

.btns {
    display: flex;
}

.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: 1rem;
    background: #2efd04;
    color: #0f172a;
    box-shadow: 0 0 8px #2efd04;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #ff1493;
    color: #ffff;
    box-shadow: 0 0 8px #ff1493;
}

nav .nav-group {
    display: flex;
    align-items: center;
    gap: 4rem;
}


.hero {
    width: 100%;
    height: 110vh;
    background: url(img/Road\ Future.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-opacity {
    position: absolute;
    width: 100%;
    height: 110%;
    background: rgba(37, 45, 49, 0.3);

}

.hero-decription {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45vh;

}

.description-tittle h2 {
    text-align: center;
    font-weight: 500;
    color: white;
    position: relative;
    text-shadow: 0 0 5px #0f172a;
}


.description-tittle h3 {
    margin-top: 2rem;
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    color: white;
    position: relative;
    text-shadow: 0 0 5px #0f172a;
}



.btn-callsection {
    margin-top: 8vh;
    display: flex;
    gap: 1rem;
    position: relative;
}

.call {
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}

.start {
    background: #2efd04;
    color: #0f172a;
}

.start:hover {
    background: #ff1493;
    color: #ffffff;
    box-shadow: 0 0 8px #ff1493;

}


.moreinfo {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    text-shadow: 0 0 5px #0f172a;
}

.moreinfo:hover {
    background: #ff1493;
    border: 2px solid #ff1493;
    color: #ffffff;
    box-shadow: 0 0 8px #ff1493;
}

.postais {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bussola {
    margin-top: 2rem;
    display: flex;
}

.bussola-logo {
    width: 9rem;

    animation: GirarBussola;
    animation-timeline: view();

}

@keyframes GirarBussola {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.discover-tittle {
    margin-bottom: 3rem;
    padding: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    animation: AparicaoTexto;
    animation-timeline: view();
    animation-range: entry 20% cover 100vh;
}

@keyframes AparicaoTexto {
    from {
        opacity: 0;
        transform: translateY(100px);
        
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.descubra-postais {
    width: 70vw;
    height: 40vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 2rem;
}



.card-postais {
    width: 15vh;
    height: 100%;
    border-radius: 8px;
    border: 2px solid #dadada;
    transition: 0.3s ease;
    display: flex;
}

.link-postais {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    color: #0f172a;
}

.card-postais:hover {
    width: 35vh;
    height: 50vh;
    box-shadow: 0 0 12px #0f172a;
}




.linha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha span {
    width: 90%;
    height: 2px;
    background: #eff0f3;
    margin-top: 8rem;
}


.pacotes {
    margin-top: 5rem;
    width: 100%;
    height: 100%;
    background: #ff0586;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pacotes-tittle {
    padding: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.all-packs{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin-bottom: 4rem;
    
}

.card-pacote {
    background: rgba(4, 4, 25, 0.475);
    width: 25%;
    border: 10px solid #ffffff;
    border-radius: 8px;
    padding: 2rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bronze h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #CD7F32;
}

.prata h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #e9e6e6;
}   

.ouro h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #ECC440;
} 


.descricao {
    font-weight: bold;
}

.texto-pacote {
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.lista-inclui {
    font-weight: 200;
    margin-bottom: 1.5rem;
}

.lista-inclui li{
   list-style-position: inside;
}

.preco-bronze{
    color: #CD7F32;
}

.preco-bronze span{
    font-weight: bold;
    font-size: 1.4rem
}

.preco-prata{
    color: #e9e6e6;
}

.preco-prata span{
    font-weight: bold;
    font-size: 1.4rem
}


.preco-ouro{
    color:  #ECC440;
}

.preco-ouro span{
    font-weight: bold;
    font-size: 1.4rem
}


.btn-reservar{
    margin-top: 1.5rem;
}


.btn-call-reserva{
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
    background: #2efd04;
}
.btn-call-reserva:hover{
    background: #063dbc;
    color: #ffffff;
    box-shadow: 0 0 8px #0f172a;
}

/* Início do footer*/

footer{
    width: 100%;
    height: 60vh;
    background: #0f172a;
    padding: 4rem 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-footer{
    display: flex;
    gap: 8rem;
}


.logofooter {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ff1493;
    cursor: pointer;
}


.menufooter li{
    list-style: none;
    padding-bottom: 1rem;
}

.menufooter li a{
    color: #ffffff;
    text-decoration: none;
}

.titulofooter{
    color: #ff1493;
}


.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}

small{
    color: #ffffff;
}

